<h2 mat-dialog-title>Networks</h2>
<mat-dialog-content>
  <div class="network-manager">
    <div class="network-list">
      <button type="button" (click)="addCustomNetwork()">Add custom network</button>
      <div *ngFor="let network of customNetworks | async" (click)="selectNetwork(network)">
        {{network.config.name}}
        <mat-checkbox *ngIf="networkActiveFormControls.get(network) as control" [formControl]="control"></mat-checkbox>
        <button type="button" (click)="deleteCustomNetwork(network)">Delete</button>
        <button type="button" (click)="selectNetwork(network)">Configure</button>
      </div>
      <div *ngFor="let network of networks | async" (click)="selectNetwork(network)">
        {{network.config.name}}
        <mat-checkbox *ngIf="networkActiveFormControls.get(network) as control" [formControl]="control"></mat-checkbox>
        <button type="button">Configure</button>
      </div>
    </div>
    <div class="network-properties" *ngIf="selectedNetwork | async as selectedNetwork">
      <h3>{{selectedNetwork.config.name}}</h3>
      <form [formGroup]="networkForm">
        <ng-container *ngIf="customNetworks | async as customNetworks">
          <mat-form-field *ngIf="customNetworks.includes(selectedNetwork)" appearance="fill">
            <mat-label>Custom network name</mat-label>
            <input type="text"
                   placeholder="Enter name"
                   aria-label="name"
                   matInput
                   formControlName="name">
          </mat-form-field>
        </ng-container>
        <mat-checkbox formControlName="active">Show this network in the calendar</mat-checkbox>
        <mat-form-field appearance="fill">
          <mat-label>Provider URL</mat-label>
          <input type="text"
                 placeholder="Enter URL"
                 aria-label="URL"
                 matInput
                 formControlName="url"
                 [matAutocomplete]="urlOptionsAuto">
          <mat-autocomplete #urlOptionsAuto="matAutocomplete" (optionSelected)="selectUrl()">
            <mat-option *ngFor="let option of selectedNetwork.urls|async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <span class="mat-select-arrow" style="position: absolute; right: 0; top: 10px;"></span>
        </mat-form-field>
        <ng-container [ngSwitch]="selectedNetwork.registered|async">
          <ng-container *ngSwitchCase="true">
            <ng-container [ngSwitch]="selectedNetwork.connected|async">
              <span *ngSwitchCase="true">(connected)</span>
              <span *ngSwitchCase="false">(connecting)</span>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <span>(error)</span>
          </ng-container>
        </ng-container>
      </form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
