<ng-container *ngIf="(selectedDate | async) as selectedDate">
  <div class="week-calendar-container" *ngIf="dateColumns | async as dates">

    <div class="week-toolbar">
      <button mat-stroked-button [routerLink]="'/week/' + ((prevWeekDate | async) | date : 'yyyy-MM-dd')">Previous
        Week
      </button>

      <h2 *ngIf="dates[0].date.getMonth() === dates[6].date.getMonth(); else spanMonths">
        {{dates[0].date | date: 'LLLL yyyy'}}
      </h2>

      <ng-template #spanMonths>
        <h2>
          {{dates[0].date | date: 'LLL'}}
          <ng-container *ngIf="dates[0].date.getMonth() === 11">{{ dates[0].date | date: 'yyyy' }}</ng-container>
          -
          {{dates[6].date | date: 'LLL yyyy'}}
        </h2>
      </ng-template>

      <button mat-stroked-button [routerLink]="'/week/' + ((nextWeekDate | async) | date : 'yyyy-MM-dd')">Next Week
      </button>
    </div>

    <div [attr.class]="'week-calendar week-calendar--' + (calendarStyle | async)">

      <ng-container *ngFor="let column of dates; let i = index; trackBy: trackByIndex">

        <div class="week-calendar-header-column"
             [class.week-calendar-header-column--past]="+column.date < +today"
             [class.week-calendar-header-column--today]="+column.date === +today"
             [style.grid-column]="i + 2"
             [style.grid-row]="1">
          <button mat-flat-button class="week-calendar-header-column-button"
                  [routerLink]="'/day/' + (column.date | date : 'yyyy-MM-dd')">
            {{ column.date | date: 'cccccc d' }}
          </button>
        </div>

      </ng-container>


      <ng-container *ngIf="(hours | async) as hrs">

        <ng-container *ngFor="let column of dates; let i = index; trackBy: trackByIndex">
          <ng-container *ngIf="(column.hoursWithItems | async) as hrsItems">

            <ng-container *ngFor="let hourItems of hrsItems; let y = index; trackBy: trackByIndex">

              <ng-container *ngIf="i === 0">
                <div class="week-calendar-column week-calendar-column--left" *ngIf="hrs[y] as hour"
                     [style.grid-column]="1"
                     [style.grid-row]="y + 2">
                  <div class="week-calendar-timezone" *ngIf="y === 0">{{ hrs[0] | date : 'zzz' }}</div>
                  <div class="week-calendar-time" *ngIf="y > 0">{{ hour | date: 'HH:mm' }}</div>

                  <ng-container *ngIf="(this.currentTime | async) as ct">
                    <ng-container *ngIf="ct.getHours() === y">
                      <div class="week-calendar-current-time-indicator" [style.top]="timeLinePerc | async">
                        <div class="week-calendar-current-time">
                          {{ ct | date: 'HH:mm' }}
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>

              <div class="week-calendar-column"
                   [style.grid-column]="i + 2"
                   [style.grid-row]="y + 2">

                <div *ngFor="let item of hrsItems[y]; trackBy: trackByIndex"
                     [attr.class]="'week-calendar-item week-calendar-item-network--' + item.network + ' week-calendar-item-type--' + item.type"
                     [style.--ps-week-calendar-item-background-color]="chainColors[item.network]">
                  <span class="week-calendar-item-time">{{ item.date | date: 'HH:mm' }}</span>
                  <span class="week-calendar-item-logo" *ngIf="item.networkLogo"><img [src]="item.networkLogo"></span>
                  <span class="week-calendar-item-block">{{ item.block }}</span>
                  <span class="week-calendar-item-description">{{ item.description }}</span>
                </div>

              </div>

            </ng-container>
          </ng-container>

          <ng-container *ngIf="+column.date === +selectedDate">
            <div class="week-calendar-columns-selected" [style.grid-column]="i + 2"></div>
          </ng-container>

        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>
