<ng-container *ngIf="(date | async) as selectedDate">
  <div class="month-calendar-container">

    <div class="month-toolbar">
      <button mat-stroked-button [routerLink]="'/month/' + ((prevMonthDate | async) | date : 'yyyy-MM-dd')">Previous Month</button>
      <h2>{{selectedDate | date : 'MMMM'}}</h2>
      <button mat-stroked-button [routerLink]="'/month/' + ((nextMonthDate | async) | date : 'yyyy-MM-dd')">Next Month</button>
    </div>

    <div class="month-calendar">
      <div class="month-calendar-header-row">
        <div class="month-calendar-header-column">Monday</div>
        <div class="month-calendar-header-column">Tuesday</div>
        <div class="month-calendar-header-column">Wednesday</div>
        <div class="month-calendar-header-column">Thursday</div>
        <div class="month-calendar-header-column">Friday</div>
        <div class="month-calendar-header-column">Saturday</div>
        <div class="month-calendar-header-column">Sunday</div>
      </div>
      <div class="month-calendar-row" *ngFor="let row of (columnsPerRow | async)">
        <div class="month-calendar-column" *ngFor="let column of row"
             [class.month-calendar-column--previous-month]="column.inPrevMonth"
             [class.month-calendar-column--next-month]="column.inNextMonth"
             [class.month-calendar-column--previous-year]="column.inPrevYear"
             [class.month-calendar-column--next-year]="column.inNextYear"
             [class.month-calendar-column--selected-date]="+column.date === +selectedDate"
             [class.month-calendar-column--today]="+column.date === +today">
          <div class="month-calendar-column-label">
            <button mat-flat-button class="month-calendar-column-label-button" [routerLink]="'/day/' + (column.date | date : 'yyyy-MM-dd')">
              {{ column.isFirstDayOfMonth ? (column.date | date : 'MMM') : '' }}
              {{ column.date | date : 'd'}}{{ column.isFirstDayOfYear ? (column.date | date : ', yyyy') : '' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
