<ng-container *ngIf="(date | async) as selectedDate">
  <div class="month-calendar-container">

    <div class="month-toolbar">
      <button mat-stroked-button [routerLink]="'/month/' + ((prevMonthDate | async) | date : 'yyyy-MM-dd')">Previous Month</button>
      <h2>{{selectedDate | date: 'MMMM yyyy'}}</h2>
      <button mat-stroked-button [routerLink]="'/month/' + ((nextMonthDate | async) | date : 'yyyy-MM-dd')">Next Month</button>
    </div>

    <div class="month-calendar">
      <div class="month-calendar-header-row">
        <div class="month-calendar-header-column">Monday</div>
        <div class="month-calendar-header-column">Tuesday</div>
        <div class="month-calendar-header-column">Wednesday</div>
        <div class="month-calendar-header-column">Thursday</div>
        <div class="month-calendar-header-column">Friday</div>
        <div class="month-calendar-header-column">Saturday</div>
        <div class="month-calendar-header-column">Sunday</div>
      </div>
      <div class="month-calendar-row" *ngFor="let row of (columnsPerRow | async); trackBy: trackByIndex">
        <div class="month-calendar-column" *ngFor="let column of row; trackBy: trackByIndex"
             [class]="'month-calendar-' + (column.date | date : 'yyyy-MM-dd')"
             [class.month-calendar-column--previous-month]="column.inPrevMonth"
             [class.month-calendar-column--next-month]="column.inNextMonth"
             [class.month-calendar-column--previous-year]="column.inPrevYear"
             [class.month-calendar-column--next-year]="column.inNextYear"
             [class.month-calendar-column--past]="+column.date < +today"
             [class.month-calendar-column--selected]="+column.date === +selectedDate"
             [class.month-calendar-column--today]="+column.date === +today">
          <div class="month-calendar-column-label">
            <button mat-flat-button class="month-calendar-column-label-button" [routerLink]="'/day/' + (column.date | date : 'yyyy-MM-dd')">
              {{ column.isFirstDayOfMonth ? (column.date | date : 'MMM') : '' }}
              {{ column.date | date : 'd'}}{{ column.isFirstDayOfYear ? (column.date | date : ', yyyy') : '' }}
            </button>
          </div>
          <ng-container *ngFor="let hourItems of (column.hoursWithItems | async); trackBy: trackByIndex">
            <div tabindex="0" *ngFor="let item of hourItems; trackBy: trackByIndex"
                 [class]="'month-calendar-item month-calendar-item-type--' + item.type + ' month-calendar-item-network--' + item.network.name"
                 [style.--ps-month-calendar-item-background-color]="chainColors[item.network.name]">
              <span class="month-calendar-item-time">{{ item.date | date : 'HH:mm' }}</span>
              <span class="month-calendar-item-logo">
                <img *ngIf="item.network.config.logo" [src]="item.network.config.logo" alt="Logo">
                <span class="month-calendar-item-logo-custom" *ngIf="!item.network.config.logo">{{ item.network.config.name.substring(0, 2) }}</span>
              </span>
              <span class="month-calendar-item-block">{{ item.block }}</span>
              <span class="month-calendar-item-description">{{ item.description }}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>
